asgiref==3.4.1
asttokens==2.0.5
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
cycler==0.10.0
decorator==4.4.2
dlib==19.22.0
executing==0.7.0
fastapi==0.67.0
greenlet==1.1.0
h11==0.12.0
icecream==2.1.1
idna==3.2
imageio==2.9.0
Jinja2==3.0.1
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.4.2
networkx==2.5.1
numpy==1.21.1
opencv-python==4.5.3.56
pandas==1.3.1
Pillow==8.3.1
pydantic==1.8.2
Pygments==2.9.0
PyMySQL==1.0.2
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
requests==2.26.0
scikit-image==0.18.2
scipy==1.7.0
seaborn==0.11.1
six==1.16.0
SQLAlchemy==1.4.22
starlette==0.14.2
tflite-runtime @ file:///E:/tflite_runtime-2.5.0-cp38-cp38-win_amd64.whl
threadpool==1.3.2
tifffile==2021.7.2
torch==1.9.0+cu102
torchaudio==0.9.0
torchvision==0.10.0+cu102
tqdm==4.61.2
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.14.0
xlrd==1.2.0
